<div class="form__rate">
  <span class="form__line-label">RATE YOUR EXPERIENCE</span>
  <section class="form__section-rate">
    <div class="form__rate-star">
      <div class="form__rated-star"></div>
    </div>
  </section>
  <section class="form__section form__text"> 
    or <a class="colored_text">Send us a feedback</a>
  </section>
</div>