<div class="form form_complete">
  <i class="form__complete"></i>
  <section class="form__section">  
    <h2 class="form__title">Thank you!<br> Wait for text message</h2>
    <h3 class="form__subtitle">One of our advisors will contact<br> you within several minutes.</h3>
  </section>
  <section class="form__section form__section_address form__text">
    <i class="form__logo"></i>
    If you got any questions please<br/>
    Mail us: contact@besmooth.co<br/>
    or call +1 898498398<br/>
  </section>
</div>