<div class="form form_plans">
  <div class="form__prices">
    <div class="form__price">
      <span class="form__price-value">$3</span>
      <span class="form__price-label">per session</span>
    </div>
    <div class="form__price">
      <span class="form__price-value">$0.15</span>
      <span class="form__price-label">per text</span>
    </div>
    <div class="form__prices-sep">
      <% include ./img/sep.svg %>
    </div>
  </div>
  <div class="form__line">
    <span class="form__line-label">FIRST SESSION FREE!</span>
  </div>
  <section class="form__section">
    <span class="btn btn_red">Request session</span>
  </section>
  <section class="form__section form__text">
    Text sessions are always private
  </section>
</div>