.form {
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;

  &_plans {
    border: 1px solid #e2e2e2;
  }
  &_payment {
    background: #f4f4f4;
    border: 1px solid #e2e2e2;
  }
  &_complete {
    background: #ff6d6d;
  }

  &__prices {
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    background: #fff;
  }

  &__price {
    float: left;
    position: relative;
    padding: 30px 0;
    z-index: 2;
    width: 50%;
  }

  &__price-value {
    display: block;
    font-size: 22px;
    margin: 0 0 6px;
    font-weight: 400;
    color: #444;
  }

  &__price-label {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    color: #a4a4a4;
  }

  &__prices-sep {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -15px;
    height: 48px;
    width: 30px;
    z-index: 1;
  }

  &__line {
    position: relative;
    border-top: 1px solid #e2e2e2;
    height: 5px;
  }

  &__line-label {
    display: inline-block;
    position: relative;
    padding: 0 12px;
    height: 20px;
    top: -12px;
    border: 1px solid transparent;
    background: #fff;
    letter-spacing: 3px;
    vertical-align: top;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    font-weight: 700;
    color: #ff6d6d;
  }

  &__line_border &__line-label {
    border-color: #e2e2e2;
  }

  &__section {
    margin: 20px 20px;

    &_address {
      margin-top: 100px;
      margin-bottom: 50px;
      opacity: .6;
    }
  }

  &__title {
    margin: 0;
    line-height: 120%;
    font-weight: 300;
    font-size: 22px;
    color: #444;
  }

  &_complete &__title {
    color: #fff;
  }

  &__subtitle {
    margin: 10px 0 0 0;
    line-height: 120%;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
  }

  &__text {
    line-height: 140%;
    font-weight: 300;
    font-size: 13px;
    color: #a9a9a9;
  }

  &_complete &__text {
    color: #fff;
  }

  &__input {
    box-sizing: border-box;
    padding: 10px 5px 10px 32px;
    margin: 0;
    width: 100%;
    background: #fff no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    line-height: 16px;
    font-weight: 300;
    font-size: 16px;
    outline: none;

    &::-webkit-input-placeholder {
      color: #bbb;
    }
    &::-moz-placeholder {
      color: #bbb;
    }
    &:-ms-input-placeholder {  
      color: #bbb;
    }

    &_phone,
    &_name {
      margin-bottom: 10px;
    }

    &_card {
      border-radius: 3px 3px 0 0;
    }

    &_exp,
    &_cvc {
      float: left;
      margin-top: -1px;
      width: 50%;
    }

    &_exp {
      border-radius: 0 0 0 3px;
    }
    &_cvc {
      border-radius: 0 0 3px 0;
      border-left: none;
    }

    &:focus {
      position: relative;
      border-color: #4A90E2;
      box-shadow: 0 0 2px 0 rgba(73,143,225,.7);
    }

    &_phone {
      background-position: 12px center;
      background-image: url('img/icon_phone.png#datauri');
    }
    &_card {
      background-position: 10px center;
      background-image: url('img/icon_card.png#datauri');
    }
    &_name {
      background-position: 12px center;
      background-image: url('img/icon_user.png#datauri');
    }
    &_exp {
      background-position: 10px center;
      background-image: url('img/icon_exp.png#datauri');
    }
    &_cvc {
      background-position: 10px center;
      background-image: url('img/icon_cvc.png#datauri');
    }
  }

  &__complete {
    display: block;
    margin: 60px auto 30px;
    height: 90px;
    width: 90px;
    
    background-image: url('img/icon_sms.svg#datauri');
    background-size: cover;
  }

  &__logo {
    display: block;
    margin: 0 auto 10px auto;
    height: 26px;
    width: 108px;
    
    background-image: url('img/logo.svg#datauri');
    background-size: cover;
  }
}