<div class="form form_payment">
  <div class="form__prices">
    <div class="form__price">
      <span class="form__price-value">$3</span>
      <span class="form__price-label">per session</span>
    </div>
    <div class="form__price">
      <span class="form__price-value">$0.15</span>
      <span class="form__price-label">per text</span>
    </div>
    <div class="form__prices-sep">
      <% include ./img/sep.svg %>
    </div>
  </div>
  <div class="form__line form__line_border">
    <span class="form__line-label">FIRST SESSION</span>
  </div>
  
  <section class="form__section">  
    <h2 class="form__title">Request Session</h2>
  </section>
  <section class="form__section clearfix">
    <input class="form__input form__input_phone" data-stripe="phone-number" name="customer[phone_number]" placeholder="Phone number" required="required" size="20" type="tel"/>
    <input class="form__input form__input_name" name="customer[name]" placeholder="Name as you want to be called" required="required" size="20" type="text"/>
    <input class="form__input form__input_card" data-stripe="number" name="card[number]" placeholder="Card number" required="required" size="20" type="tel"/>
    <input class="form__input form__input_exp" data-stripe="exp" id="card_exp" name="card[exp]" placeholder="MM / YY" required="required" type="tel"/>
    <input class="form__input form__input_cvc" data-stripe="cvc" id="card_cvc" name="card[cvc]" placeholder="CVC" required="required" size="4" type="tel"/>
  </section>
  <section class="form__section">
    <span class="btn btn_grey">Pay or get</span>
  </section>
  <section class="form__section form__text">
    Advisor will contact you in minutes
  </section>
  <section class="form__section">
    <img src="<%= asset('/blocks/form/img/cards.png') %>"
      srcset="<%= asset('/blocks/form/img/cards@2x.png') %> 2x"/>
  </section>
</div>


<!-- <div class="form-payment-checkout" id="form-payment-checkout1">
  
    <input class="button grey pay_or_get" name="commit" type="submit" value="Pay or get" />
  </form>
  <div class="form-payment-desc">
    Advisor will contact you in minutes
  </div>

  <div class="form-payment-options">
    <img src="images/landing/cards_accepted.png" srcset="images/landing/cards_accepted@2x.png 2x" alt="">
  </div>
</div>
</div> -->