<div class="form__share">
  <span class="form__line-label">SHARE WITH FRIENDS</span>
  <div class="form__social-buttons">
    <div class="form__social-button">
      <a class="form__facebook-button" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=<?php echo $title;?>&amp;p[summary]=<?php echo $summary;?>&amp;p[url]=<?php echo urlencode($url);?>&amp;p[images][0]=http://www.example.com/images/report/daily_report/KNDR/image(2).jpg"></a>
    </div>
    <div class="form__social-button">
      <a class="form__pinterest-button" href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=[URL]&is_video=false&description=[TITLE]"></a>
    </div>
    <div class="form__social-button">
      <a class="form__twitter-button" href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]"></a>
    </div>
  </div>
</div>