<div class="form form_rate">
  <span class="form__line-label">RATE YOUR EXPERIENCE</span>
  <section>
    <div class="form__rate-stars">
      <div class="form__rated-stars"></div>
    </div>
  </section>
  <section class="form__section form__text"> 
    or <a class="colored_text">Send us a feedback</a>
  </section>
</div>