<div class="screens screens_plans">
  <div class="screens__screen screens__screen_plans">
    <% include ../screen/screen_plans.ejs %>
  </div>
  <div class="screens__screen screens__screen_payment">
    <% include ../screen/screen_payment.ejs %>
  </div>
  <div class="screens__screen screens__screen_complete">
    <% include ../screen/screen_complete.ejs %>
  </div>
</div>