.mockup {
  width: 50%;
  margin: 0 auto;

  &__phone {
    position: relative;
    padding-top: 192.93%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/iphone.png');
    background-size: contain;
  }

  &__phone-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  &__messages {
    overflow-y: auto;
    margin: 0 auto;
    width: 74.72%;
    height: 57.71%;
  }

  &__message {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__message_1 {
    background-image: url("img/msg_01.png");
    padding-top: 66.53%;
  }
  &__message_2 {
    background-image: url("img/msg_02.png");
    padding-top: 44.66%;
  }
  &__message_3 {
    background-image: url("img/msg_03.png");
    padding-top: 36.4%;
  }
  &__message_4{
    background-image: url("img/msg_04.png");
    padding-top: 50.26%;
  }
  &__message_5{
    background-image: url("img/msg_05.png");
    padding-top: 22.93%;
  }
  &__message_6{
    background-image: url("img/msg_06.png");
    padding-top: 12%;
  }
  &__message_7{
    background-image: url("img/msg_07.png");
    padding-top: 9.6%;
  }
  &__message_8{
    background-image: url("img/msg_08.png");
    padding-top: 24.4%;
  }
  &__message_9{
    background-image: url("img/msg_09.png");
    padding-top: 9.73%;
  }
  &__message_10{
    background-image: url("img/msg_10.png");
    padding-top: 19.2%;
  }
  &__message_11{
    background-image: url("img/msg_11.png");
    padding-top: 18.53%;
  }
  &__message_12{
    background-image: url("img/msg_12.png");
    padding-top: 12.16%;
  }
  &__message_13{
    background-image: url("img/msg_13.png");
    padding-top: 9.6%;
  }
  &__message_14{
    background-image: url("img/msg_14.png");
    padding-top: 39.6%;
  }
}