.mockup {
  width: 45%;
  margin: 0 auto;

  &__phone {
    padding-top: 18925%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/iphone.png');
    background-size: contain;
  }
}