<div class="mockup">
  <div class="mockup__phone">
    <div class="mockup__phone-wrap">
      <span class="mockup__play"></span>
      <div class="mockup__messages mockup__messages_hide">
        <div class="mockup__messages-wrap">
          <div class="mockup__message mockup__message_hide mockup__message_1"></div>
          <div class="mockup__message mockup__message_hide mockup__message_2"></div>
          <div class="mockup__message mockup__message_hide mockup__message_3"></div>
          <div class="mockup__message mockup__message_hide mockup__message_4"></div>
          <div class="mockup__message mockup__message_hide mockup__message_5"></div>
          <div class="mockup__message mockup__message_hide mockup__message_6"></div>
          <div class="mockup__message mockup__message_hide mockup__message_7"></div>
          <div class="mockup__message mockup__message_hide mockup__message_8"></div>
          <div class="mockup__message mockup__message_hide mockup__message_9"></div>
          <div class="mockup__message mockup__message_hide mockup__message_10"></div>
          <div class="mockup__message mockup__message_hide mockup__message_11"></div>
          <div class="mockup__message mockup__message_hide mockup__message_12"></div>
          <div class="mockup__message mockup__message_hide mockup__message_13"></div>
          <div class="mockup__message mockup__message_hide mockup__message_14"></div>
        </div>
      </div>
    </div>
  </div>
</div>