<div class="mockup">
  <div class="mockup__phone">
    <!-- <div class="mockup__iphone-content">
      <span id="play" class="mockup__play-button_visible"></span>
      <div class="mockup__iphone-content__messages hidden_messages">
        <div class="message incoming msg1"></div>
        <div class="message outcoming msg2"></div>
        <div class="message incoming msg3"></div>
        <div class="message outcoming msg4"></div>
        <div class="message incoming msg5"></div>
        <div class="message outcoming msg6"></div>
        <div class="message incoming msg7"></div>
        <div class="message outcoming msg8"></div>
        <div class="message incoming msg9"></div>
        <div class="message outcoming msg10"></div>
        <div class="message incoming msg11"></div>
        <div class="message outcoming msg12"></div>
        <div class="message incoming msg13"></div>
        <div class="message outcoming msg14"></div>
      </div>
    </div> -->
  </div>
</div>