.btn {
  display: inline-block;
  padding: 0 45px;
  min-height: 46px;
  border-radius: 80px;
  border: none;
  line-height: 44px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
  color: #fff;

  &_red {
    background: #ff6d6d;
  }
  &_red:hover {
    background: #ff7979;
  }
  &_red:active {
    background: #e25858;
  }

  &_green {
    background: #00cf48;
  }
  &_green:hover {
    background: #00db4c;
  }
  &_green:active {
    background: #05bb44;
  }

  &_blue {
    background: #319cff;
  }
  &_blue:hover {
    background: #4ba8ff;
  }
  &_blue:active {
    background: #278ae7;
  }

  &_grey,
  &:disabled {
    background: #E8E8E8;
  }
}