<div class="screen screen_complete">
  <div class="screen__logo"></div>
  <h1 class="screen__title">On-demand dating advice</h1>

  <div class="screen__form">
    <% include ../form/form_complete.ejs %>
  </div>
</div>