<div class="screen">
  <div class="screen__logo"></div>
  <h1 class="screen__title">On-demand dating advice</h1>
  <div class="screen__form">
    <% include ../../blocks/form/form_rate.ejs %>
    <% include ../../blocks/form/form_share.ejs %>
    <section class="form__section form__text"> 
      <a href="/" class="colored_text">Back to main page</a>
    </section>
  </div>
</div>