<div class="screen screen_payment">
  <div class="screen__logo"></div>
  <h1 class="screen__title">On-demand dating advice</h1>

  <div class="screen__form">
    <% include ../form/form_payment.ejs %>
  </div>
</div>