<div class="screen">
  <div class="screen__logo"></div>
  <h1 class="screen__title">On-demand dating advice</h1>
  <!-- <h2 class="screen__subtitle"><span></span></h2> -->

  <div class="screen__form">
    <% include ../form/form_plans.ejs %>
  </div>
</div>