<div class="girls girls_off clearfix">
  <figure class="girls__girl" data-original="/blocks/girls/img/advisor_01.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Stephanie</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_02.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Amanda</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_03.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Susan</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_04.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Beatrice</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_05.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Stephanie</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_06.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Amanda</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_01.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Stephanie</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_02.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Amanda</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_03.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Susan</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_04.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Beatrice</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_05.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Stephanie</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_06.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Amanda</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_01.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Stephanie</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure><!--
--><figure class="girls__girl" data-original="/blocks/girls/img/advisor_02.jpg">
    <div class="girls__expander">
      <div class="girls__mask"></div>
      <figcaption class="girls__info">
        <span class="girls__name">Amanda</span>
        <p class="girls__summary">Tells why she thinks ZenAdvisor will help people understand what to do and say on a date</p>
      </figcaption>
    </div>
  </figure>
</div>