<div class="layout">
  <div class="layout__section layout__section_left">
    <div class="layout__screen layout__screen_plans">
      <% include ../screen/screen_plans.ejs %>
    </div>
    <div class="layout__screen layout__screen_payment">
      <% include ../screen/screen_payment.ejs %>
    </div>
    <div class="layout__screen layout__screen_complete">
      <% include ../screen/screen_complete.ejs %>
    </div>
  </div>
  <div class="layout__section layout__section_right">
    <% include ../girls/girls.ejs %>
  </div>
  <div class="layout__foot">
    <% include ../foot/foot.ejs %>
  </div>
</div>