<div class="layout">
  <div class="layout__screen layout__screen_left">
    <% include ../screen/screen_plans.ejs %>
    <% include ../screen/screen_payment.ejs %>
    <% include ../screen/screen_complete.ejs %>
  </div>
  <div class="layout__screen layout__screen_right"></div>
</div>