.layout {
  display: flex;
  min-height: 100%;

  @media (max-width: 850px) {
    display: block;
    min-height: auto;
  }

  &__section {
    overflow: hidden;
    position: relative;
    width: 50%;

    &_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #fff;
    }

    &_right {
      background: #f3f3f3;
    }
   
    @media (max-width: 850px) {
      display: block;
      width: auto;
    }
  }

  &__screen {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &_plans {

    }
    &_payment {
      transform: translateX(100%);
    }
    &_complete {
      transform: translateX(200%);
    }
  }
}