<div class="layout">
  <div class="layout__form">
    <% include ../screens/screens.ejs %>
  </div>
  <div class="layout__mockup">
    <% include ../mockup/mockup.ejs %>
  </div>
  <div class="layout__girls">
    <% include ../girls/girls.ejs %>
  </div>
  <div class="layout__foot">
    <% include ../foot/foot.ejs %>
  </div>
</div>