.layout {
  height: 100%;

  &__form {
    display: flex;
    position: fixed;
    height: 100%;
    width: 50%;
    align-items: center;
    background: #fff;
  }

  &__mockup {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    width: 50%;
    margin-left: auto;
    align-items: center;
  }

  &__girls {
    width: 50%;
    margin-left: auto;

    &_fixed {
      position: fixed;
      z-index: 1;
      right: 0;
      top: 0;
      transform: translateZ(0);
    }
  }

  &__foot {
    position: fixed;
    width: 50%;
    bottom: 0;
    left: 0;
  }
}