.layout {
  height: 100%;

  &__form {
    background: #fff;

    @media (min-width: @minHorWidth) {
      display: flex;
      align-items: center;
      position: fixed;
      height: 100%;
      width: 50%;
    }
    @media (max-width: @maxVerWidth) {
      padding-top: 40px;
    }
    @media (max-width: @maxMobWidth) {
      padding-top: 30px;
    }
  }

  &__mockup {
    @media (min-width: @minHorWidth) {
      position: relative;
      z-index: 2;
      display: flex;
      height: 100%;
      width: 50%;
      margin-left: auto;
      align-items: center;
    }
    @media (max-width: @maxVerWidth) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media (max-width: @maxMobWidth) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    
    background-image: url('img/icn_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;

    @media (min-width: @minHorWidth) {
      display: block;
    }
  }

  &__girls {
    background: #000;

    @media (min-width: @minHorWidth) {
      margin-left: auto;
      width: 50%;

      &_fixed {
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        transform: translateZ(0);
      }
    }
    @media (max-width: @maxVerWidth) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    @media (max-width: @maxMobWidth) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__foot {
    padding: 20px 0;

    @media (min-width: @minHorWidth) {
      position: fixed;
      width: 50%;
      bottom: 0;
      left: 0;
    }
  }
}